
<h1>Type something...</h1>
<form action="/answer" method='get' data-turbo="false">
  <input type="text" name="question" placeholder="what do you want to do">
  <input type="submit" value="Ask!">
</form>
<p><%=params%>
